.titre1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
}

/* Bouton */
.btn-global {
  display: flex;              /* important */
  justify-content: center;    /* centre le texte */
  align-items: center;
  margin: 1rem auto 0;
  padding: 0.75rem 1.5rem;
  color: #fff;
  background-color: #2e7d32;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
